[2018-04-13 13:11] dashohoxha opened #1 "Install ltsp-pnp, edu packages and ltsp-manager on Debian9"
Try to do the installation described here http://dashohoxha.fs.al/ltsp-pnp/ but using Debian as a base system. Write a blog describing this installation on Debian.

[2018-04-13 13:20] dashohoxha opened #2 "Improve ltsp-manager"
Experiment with ltsp-manager.
 - http://wiki.ltsp.org/wiki/Ltsp-manager
 - https://launchpad.net/ltsp-manager

Do we need to build a Debian package for ltsp-manager?
What features can be added to ltsp-manager to make it more flexible and more easy to use?

[2018-04-13 13:22] dashohoxha opened #3 "Port ubuntu-edu packages to debian"
How to port these packages to Debian?
 - ubuntu-edu-preschool
 - ubuntu-edu-primary
 - ubuntu-edu-secondary
 - ubuntu-edu-tertiary

[2018-04-13 13:25] dashohoxha opened #4 "Support RaspberryPi clients"
Do some research about what needs to be done on the LTSP server, in order to support RaspberyPi clients.
Can ltsp-manager be improved to support this scenario, so that it can be used as easy as possible?

[2018-04-26 17:36] d78ui98 opened #5 "Create provisioning scripts to start virtualbox LTSP server"
Writing a Vagrant script to automatically start up a standard VirtualBox LTSP server.

[2018-04-26 21:57] dashohoxha commented on #5
For this you can start by taking as an example one of the projects that I asked you to install as an application task.

Then you need to study what are the command line configuration options of virtualbox, and how to use them on the Vagrantfile. These options are needed to set the network interface in bridged mode and promiscuous mode.

You also need to have a good knowledge of bash scripting, so

[2018-04-27 12:43] dashohoxha opened #6 "Improve bash scripting skills"
Read these books/guides:
 - https://drive.google.com/file/d/1lMwE7lMEaWhayBcDUMZQP9Lun1wROAXN/view
 - https://en.wikibooks.org/wiki/Bash_Shell_Scripting

You will have to read and write bash scripts during this project.

[2018-04-27 12:52] dashohoxha opened #7 "Get familiar with building ubuntu/debian packages"
You may have to port some packages from ubuntu to debian, or maybe to create some new packages.

1. Find some good tutorials about how to create and submit debian packages.
2. Find the relevant mailing lists about creating and maintaining debian packages and subscribe to them.

Report the results of your findings as comments.

[2018-04-27 12:59] dashohoxha opened #8 "Get familiar with docker-scripts"
The second part of this project will be to install a LTSP server in a docker container, using the docker-scripts framework. For this, you will need first to get familiar with docker and docker-scripts.

Look at this issue: https://github.com/docker-scripts/freedombox/issues/1

This task will start after the first part of the project is finished.

[2018-04-27 13:49] dashohoxha commented on #6
I have used this book for my students, and I know that it is very good for beginners. If you can print it, this could be even better.

I have not read all the wiki book, but that seems good too.

[2018-04-28 02:27] d78ui98 commented on #6
Sure. I will get it printed today after the college.

[2018-05-18 11:45] d78ui98 commented on #6
Hello @dashohoxha @akash0x53,
Today my exams are completed. I completed both these books/guides before that. I would still need a day to revise them. As I don't want to rush things and make mistakes.
If it is okay I can close this issue by Tomorrow after a revision.

[2018-05-18 11:58] dashohoxha commented on #6
@d78ui98 If you feel you need to make a review, that's Ok. I have not set any deadlines for the tasks because I believe that people perform better when they work at their own pace. So, I expect you to set the deadlines yourself, and I hope that you will not abuse with this freedom. If I have to set deadlines for you, it may make things harder for you.

[2018-05-18 15:57] d78ui98 opened #9 "study command line configuration options of virtualbox"
I will find some good resources on learning CL option of virtualbox. It was mentioned in [#5](https://github.com/docker-scripts/dev--LTSP/issues/5) But it would create too many tasks for a single issue. So thats why creating a seperate issue for it.

[2018-05-18 16:18] d78ui98 opened #10 "Documenting work done before First Evaluation"
Developing a productive approach by documentation of work done every day. It will also help in writing weekly report and blog posts.

[2018-05-18 16:18] d78ui98 opened #11 "Documenting work done before Second Evaluation"
Developing a productive approach by documentation of work done every day. It will also help in writing weekly report and blog posts.

[2018-05-18 16:19] d78ui98 opened #12 "Documenting work done before Third Evaluation"
Developing a productive approach by documentation of work done every day. It will also help in writing weekly report and blog posts.

[2018-05-18 21:03] dashohoxha commented on #1
You have already done this.

[2018-05-18 21:03] #1 closed

[2018-05-18 21:05] dashohoxha commented on #6
Preparation phase was finished long time ago. GSoC is in the working phase since a week ago.

[2018-05-18 21:42] dashohoxha opened #13 "Project plan"
- [ ] Install of LTSP in Ubuntu with Vagrant, according to the instructions here: http://dashohoxha.fs.al/ltsp-pnp/ This should be finished by the end of the next week (May 26).
- [ ] Install LTSP in Debian with Vagrant. This should be finished by June 2.
- [ ] Build a Debian package for ltsp-manager. This should be finished by June 9. First evaluation.
- [ ] Port ubuntu-edu packages to Debian. Tw

[2018-05-22 16:18] dashohoxha opened #15 "Learn how to run GUI programs inside a Docker container"
This may be needed while building a LTSP server in a Docker container (third evaluation).

An example that allows GUI apps to run in a container:
 - https://github.com/EasyGnuPG/ggpg-ds

A related project:
 - https://github.com/mviereck/x11docker

[2018-05-24 09:17] dashohoxha opened #16 "Rename the script LTSP_Installer_script.sh"
Rename the script `LTSP_Installer_script.sh` to `install.sh` or `config.sh`, because it is obvious that it is a script and that it is about LTSP.

[2018-05-24 09:20] dashohoxha opened #17 "Install ltsp-manager"
Install `ltsp-manager` on the branch `bionic`.

[2018-05-24 09:26] dashohoxha opened #18 "Test the LTSP server on Ubuntu bionic"
Create a LTSP server by running `vagrant up`.
Then start a LTSP client on the LAN (or start it in another VirtualBox machine) and try to boot from the server.
Report here any problems that you encounter.

@docker-scripts/ltsp

[2018-05-24 09:30] dashohoxha opened #19 "Update README.md"
Update `README.md` with installation and usage instructions.
Give some detailed instructions about how to test it as well. Suppose that the testing will be done by using another VirtualBox machine as a client.

Write any other related docs on the wiki: https://github.com/docker-scripts/dev--LTSP/wiki

[2018-05-24 09:32] #10 closed

[2018-05-24 09:32] #11 closed

[2018-05-24 09:33] #12 closed

[2018-05-24 09:34] dashohoxha commented on #12
Close also any other tasks that you have already completed, and move them to the **Done** column on the project here: https://github.com/docker-scripts/dev--LTSP/projects/1

[2018-05-24 12:26] nehajain444 commented on #16
Okay... It has too much to install and less to config. So naming it install.sh
pull request - https://github.com/docker-scripts/dev--LTSP/pull/21

[2018-05-24 12:37] dashohoxha commented on #16
I discarded  that PR. You should make another one properly, by making a git branch first.
Also it is important that you test your changes first, before committing them and making a PR.
If you don't do it, who do you think is going to test them?

[2018-05-24 13:38] nehajain444 commented on #16
okay. I tested it and make changes in the vagrant file.
It is working now.
pull request - https://github.com/docker-scripts/dev--LTSP/pull/22

[2018-05-24 14:59] #5 closed

[2018-05-24 14:59] #9 closed

[2018-05-24 17:27] dashohoxha commented on #5
You should also do the scripts for the debian:buster. Maybe you should create another task for that.

[2018-05-24 17:34] #16 closed, assigned to nehajain444

[2018-05-24 23:15] d78ui98 commented on #5
okay. I will do that.

[2018-05-25 00:30] #17 closed, assigned to d78ui98

[2018-05-25 00:38] dashohoxha opened #25 "Tidy install.sh"
- [x] Replace `apt-get` with `apt` on `install.sh`
 - [x] Remove extra empty lines.
 - [x] Improve comments.

[2018-05-25 09:17] dashohoxha opened #26 "Automate testing"
In order to help with testing, create the file `client/Vagrantfile` that starts automatically a client VirtualBox machine, with no disks, with bridged networking, that boots from the network. This may help a bit the testing process.

Maybe it can be done more easily with a shell script, like `client.sh`, which uses `virtualbox` commands and options.

By the way, where is the documentation of the v

[2018-05-25 09:19] nehajain444 commented on #18
I am having trouble setting up the client.

[2018-05-25 09:24] dashohoxha commented on #18
@d78ui98 will update README.md with testing instructions soon: https://github.com/docker-scripts/dev--LTSP/issues/19

This issue may also help: https://github.com/docker-scripts/dev--LTSP/issues/26
Either @d78ui98 or someone else is going to implement this soon.

[2018-05-25 10:08] dashohoxha opened #28 "Make LTSP server a bit more flexible"
Regarding DHCP, a LTSP server has two main modes of operation: standalone and non-standalone. These depend on whether we have a DHCP server on the LAN or not. If we already have a DHCP server, then we don't want to start a second DHCP service on the LTSP box, because this may create trouble on the network. Instead, we want to use the existing DHCP service.

1. **Standalone** means that the LTSP se

[2018-05-25 10:16] dashohoxha commented on #28
@docker-scripts/ltsp
I am sure that @d78ui98 can do this task himself, but if somebody would like to help, you are welcome.
Anyway, the best help in my opinion, is with testing his scripts independently. (The developer is always biased about the scripts that he makes himself).

[2018-05-25 10:18] d78ui98 commented on #18
@nehajain444 please refer to updated `README.md`.

[2018-05-25 10:19] dashohoxha commented on #19
@docker-scripts/ltsp
If you feel that instructions on README.md need some improvements or clarifications, please feel free to suggest them.

[2018-05-25 10:26] dashohoxha commented on #18
@d78ui98 but also don't forget to automate building a test client (see: #26)

[2018-05-25 10:37] dashohoxha opened #29 "DHCP server for testing"
For testing the case of a non-standalone server (see: https://github.com/docker-scripts/dev--LTSP/issues/28) we need to run a DHCP server on the network.

Create the file `dhcp/Vagrantfile` that starts automatically a virtualbox DHCP server on a bridged network. This can be a very simple server, with low RAM (for example 512MB) that provides a simple DHCP service.

The most simple way for offering

[2018-05-25 11:03] d78ui98 commented on #18
Yes, I am trying to figuring out how to do it.

[2018-05-25 14:59] d78ui98 commented on #26
Yes I have created one. It is much easier to do with shell script. Working on some automating some VBoxManage commands.

I have not created its documentation. Just created a file that summarizes some of the  VBoxManage's commands.

[2018-05-25 15:43] dashohoxha commented on #26
I mean where is the documentation of VBoxManage itself? Is it online? Or it is just on PDF?

[2018-05-25 15:47] d78ui98 commented on #26
its online on the virtualbox.org website - https://www.virtualbox.org/manual/ch08.html

[2018-05-25 16:04] dashohoxha commented on #26
It says:

So, by automating things with bash scripts we can actually do more advanced things than what can be done from the GUI. This is wonderful.

[2018-05-25 16:20] d78ui98 commented on #26
Yes, it is also fast. Like really fast. I am able to setup ltsp client in an instant!

[2018-05-26 06:44] nehajain444 commented on #18
I created client with clients.sh. But I am getting on error- DHCP connection timed out. could not read from boot medium system halted.

[2018-05-26 06:52] d78ui98 commented on #18
This could be an issue with `dnsmasq` you can try restarting it service after `vagrant ssh`
Or it could be an issue with your wifi router.

[2018-05-26 06:58] nehajain444 commented on #18
I am using mobile hotspot.

[2018-05-26 08:28] d78ui98 commented on #18
That's the issue. Please use a router.
Let me know if this does not solve the problem.

[2018-05-26 08:39] dashohoxha commented on #18
dnsmasq should work out of the box. The users should not have to do anything to make it working.

How can it be an issue with the router (wifi or not wifi) when both the ltsp-server and the ltsp-client run as virtual machines on the same computer? There must be some way to make it work. If you are just testing, it should work even if you are not connected to the Internet at all. You should find so

[2018-05-26 09:08] d78ui98 commented on #18
I am not sure how it is an issue with mobile hotspot. But, every time I was connected to it the ltsp client giving me the DHCP connection timed out error.

[2018-05-26 09:16] dashohoxha commented on #18
I guess that a hotspot (any hotspot) also has a DHCP service (helps with automatic IP configuration of the clients). So, now you have two DHCP servers on the same LAN, one on the hotspot and one on the LTSP server, trying to offer IP to the clients. Often this is a problem.

Maybe there is some other issue, I am not sure.

[2018-05-26 11:12] d78ui98 commented on #29
I have created `dhcp/Vagrantfile` with ram 512MB. Created provision script to install **dnsmasq**.
I have some ideas on how configure it too.
For testing it should I create another ltsp server with dnsmasq not installed and start this server and ltsp client And see if it the client can get ip address?

[2018-05-26 11:57] dashohoxha commented on #29
For testing it you can just start a ltsp-client (booting from PXE) and see if it gets an IP address.
You don't need to run a ltsp-server. No problem that the client will fail to boot immediately after getting an IP address.

[2018-05-26 11:58] dashohoxha commented on #29
A ltsp-server will always have `dnsmasq` installed. But it can be configured to give DHCP service or not.

[2018-05-26 12:01] d78ui98 commented on #29
cool. good idea.

[2018-05-26 15:57] nehajain444 commented on #18
After connecting to router I am finally able to boot from the from the client :smile:

[2018-05-26 16:11] rr83019 commented on #18
I am still NOT able to boot up client via the router. I think the automatic configuration of DHCP needs to be implemented in cases mentioned above by @dashohoxha.

[2018-05-28 09:04] d78ui98 commented on #28
I now understood the problem. And also why is it important to do this. Now working towards making `Vagrantfile` and the `install.sh` script flexible to handle both cases. Also I was able to solve #29 while working on this issue.

[2018-05-28 10:42] dashohoxha commented on #25
I am assigning this task to @rr83019 since @CodeDem is not responding.

[2018-05-28 16:23] d78ui98 commented on #28
@dashohoxha  There is some issue with ubuntu `bionic` box. It is unable to offer **standalone** mode of operation. I followed instructions on http://dashohoxha.fs.al/ltsp-pnp/#sec-3-4. It is not working at all. I also wrote modified version the `install.sh` by refering to your blog post. It works great with `trusty` but does not work with `bionic`. Feel free to test it out. What should I do in thi

[2018-05-28 17:27] dashohoxha commented on #28
How can I test it?

Maybe do `vagrant sh` and check why it does not work.

[2018-05-28 20:11] d78ui98 commented on #28
I did `vagrant ssh` for testing it. Here is how I tested it -
- created a `bionic` box with the Vagrantfile and install.sh
- On your [blog](http://dashohoxha.fs.al/ltsp-pnp/#sec-3-4)  instructions are simple. In `etc/dnsmasq.d/ltsp-server-dnsmasq.conf` keep the `dhcp-range` line. Comment the line with proxy in the end
- then restart the service (if changes are made in conf file)

This does not wor

[2018-05-28 22:41] dashohoxha commented on #28
Have you tested on `xenial`? `trusty` is too old (2014).

Anyway, I have an idea about what you are doing wrong, but I won't tell it to you because you should learn to troubleshoot, and you should learn to google about errors, and I should be your last resort for asking help with fixing problems (after you have spent a few days and could not solve it). I can guide you and give advice, but I cannot

[2018-05-29 07:14] d78ui98 commented on #28
okay. I will try with `xenial` then will find my mistake and fix it.

[2018-05-29 07:42] d78ui98 commented on #28
Figured out my mistake :)

you were right.

[2018-05-29 08:37] dashohoxha commented on #28
I am happy that you figured it out yourself, because it was such a silly mistake :)

[2018-05-29 12:13] rr83019 commented on #25
In the blog http://dashohoxha.fs.al/ltsp-pnp/#sec-3-4, you have mentioned that Edubuntu programs can be installed in one of the two ways, but in the script install.sh both the methods are written. Should I remove one method? If yes, then which one?

[2018-05-29 12:27] dashohoxha commented on #25
Thanks for noticing this. You can remove the first one.

[2018-05-29 19:31] rr83019 commented on #28
I've made some changes to install.sh such that it auto detects and configures the mode of operation of ltsp server. Settings.sh file can now be omitted if not required.
I hope this makes the installation process much more user friendly.

[2018-05-29 21:06] d78ui98 commented on #28
cannot omit `settings.sh`. It is still required.

[2018-05-29 23:57] dashohoxha commented on #28
It is not something that should be auto-detected, it should depend on the configuration (settings.sh).
If you want to do some auto-detection, then it should be done on the Vagrantfile, before the box is created and provisioned. It should not be done on `install.sh`.

[2018-05-30 00:07] dashohoxha commented on #28
To test the **standalone** mode, I think that you need to work on a computer with two network interfaces. However most laptops have a wifi card and an ethernet (cable) card, so it should be ok.
The vagrant box is going to have two virtual interfaces, which are bridged one to the wifi and the other to the cable. Let's say that wifi will be connected to the WAN and the cable to the LAN.
In this case

[2018-05-30 18:06] d78ui98 commented on #28
That is done. vagrant box has NAT configuration allowing to use commands like `vagrant up` ,etc. Same is being used by clients to access internet. Where ltsp server is acting like a gateway

[2018-05-30 18:09] d78ui98 commented on #28
this problem is this -

Currently vagrant box with ltsp installed has 2 network interfaces. NAT and bridged. NAT is fundamental requirment of vagrant. And without bridged adapter ltsp server won't be able to communicate with clients. Which interfaces should be removed?

[2018-05-30 18:13] d78ui98 opened #34 "Install LTSP in Debian with Vagrant"
Will refer to here http://dashohoxha.fs.al/ltsp-pnp/
to install LTSP in debian `buster` with vagrant

[2018-05-30 21:37] dashohoxha commented on #28
It seems that both interfaces are required, so none of them can be removed.
OK. So the virtualbox has always 2 network interfaces (both for the standalone and non-standalone case).

The virtualbox test client should have only one network interface, the bridged one, in order to simulate a client on the LAN. In this case, I think that you need to configure NAT inside the LTSP server, so that the tes

[2018-05-31 05:22] d78ui98 commented on #28
Okay, Now I get it. Virtualbox test clients will have a single interface.

[2018-05-31 21:46] dashohoxha opened #36 "Document the modes of operation of the ltsp-server"
Create a document that describes (to the new users) the standalone operation mode, including also some network diagrams. Then describe also the dependent (non-standalone) operation mode, again with some diagrams.
And then a document that describes how to test each of these modes.

You can use the format markdown for these documents. It can be something similar to this: https://github.com/EasyGnuPG

[2018-06-01 10:10] dashohoxha commented on #36
You will have to notify me when you finish this document, because wiki does not send notifications.

Creating this document may help you to understand better what you need to do with the scripts (installation, testing, client, dhcp server, etc.), because I think that you are not quite clear and you are struggling a bit. So, it is like a design document for the scripts that you should build.

[2018-06-01 15:41] d78ui98 commented on #36
@dashohoxha I wrote about standalone and non-standalone mode of operation. Also wrote about manual testing. I am constantly updating it. Will write about automated testing soon after I add `vagrantfile` for dhcp.

[2018-06-01 16:20] dashohoxha commented on #36
@d78ui98 Now that I see some diagrams the ideas become more clear even for me.

In the second case (non-standalone mode), the DHCP server should also be the gateway to internet both for the clients and for the LTSP server. So, the LTSP server in this case must have only one network interface (which is bridged). Can you update the diagram for this?

[2018-06-01 16:27] dashohoxha commented on #36
Also, again for the non-standalone mode, we can remove the requirement for having a fixed IP address, if we automatically reconfigure the **dnsmasq** on boot, to use for dhcp proxy whatever IP the box has received from DHCP.
I am not sure whether I am explaining it clearly what I mean.
Maybe later we can create another task for this improvement.

[2018-06-01 18:48] d78ui98 commented on #36
Updated.
Yes. Things are now clear. I was wondering how the internet is served to clients(Non-standalone mode) But now it is clear.

Maybe later we can create another task for this improvement.

I am able to understand this. Sure we will create another task for it later.

[2018-06-01 22:23] dashohoxha opened #37 "Automatic reconfiguration of dnsmasq on boot"
For the non-standalone mode, we can remove the requirement for having a fixed IP address, if we automatically reconfigure the dnsmasq on boot, so that it can use for dhcp proxy whatever IP the box has received from DHCP.

[2018-06-01 22:42] #28 closed, assigned to d78ui98

[2018-06-02 09:35] dashohoxha commented on #36
Please update the diagrams here: https://github.com/docker-scripts/dev--LTSP/wiki/Mode-of-operation-LTSP
so that they look similar to the ones that I have drawn. Especially the LAN network, which is usually represented by a thick bar where all the computers are connected.

[nonstanalone-ltsp-server.pdf](https://github.com/docker-scripts/dev--LTSP/files/2064857/nonstanalone-ltsp-server.pdf)
[standa

[2018-06-02 09:43] #29 closed, assigned to d78ui98

[2018-06-02 09:45] #26 closed, assigned to d78ui98

[2018-06-02 12:10] d78ui98 commented on #36
I just updated it on the wiki page. Thanks for the hand-drawn diagrams.

[2018-06-02 13:53] dashohoxha commented on #36
Thanks for not getting frustrated that I am asking you to do the same things over and over again. But if they are not right we have to make them right.

[2018-06-02 14:36] dashohoxha commented on #18
@d78ui98 When you test with a virtual client and a virtual DHCP server (and virtual LTSP server of course), and all three of them are on the same computer/laptop, I think that you may need to create a virtual network as well, and connect all three of them to this virtual network, so that they can communicate with each-other.

If you bridge all three of them to an ethernet (cable) network interface

[2018-06-02 15:42] d78ui98 commented on #36
No worries. I understand its important to make things right. Would be happy to do it again to make it better :)

[2018-06-02 16:15] d78ui98 commented on #18
Sure we can do this. However, while testing all 3(virtual client,virtual dhcp server, ltsp server) it was working without the virtual network too. They were able to communicate with each other.

However, I understand there would be some cases(that you mentioned) in this it would not work. So better option will be to create `test.sh`

[2018-06-02 16:22] dashohoxha commented on #18
Before `test.sh` you have to finish ltsp-client and dhcp-server. As far far as I know they are still pending.

[2018-06-02 19:37] d78ui98 commented on #34
I am able to install LTSP in debian `buster` and `stretch` release
But there are 2 issues with it-
- `buster` box is unable to mount `/vagrant`(working towards fixing this). So I tired `stretch`.
- I am unable to login from client in both these boxes. LTSP server is refusing connection and says public key denied.(working towards fixing this too)

[2018-06-04 14:02] nehajain444 commented on #19
@d78ui98 I think you should have links in readme file pointing towards wiki.

[2018-06-04 21:40] d78ui98 commented on #19
Sure @nehajain444
Also more suggestions, questions are welcomed :)

[2018-06-04 22:33] dashohoxha commented on #19
You can also make a pull request about this, if you wish.

[2018-06-06 19:00] d78ui98 commented on #34
@dashohoxha @akash0x53
I have solved the first issue mentioned in the above comment.
But I am having trouble solving the second issue. I followed every step from  http://dashohoxha.fs.al/ltsp-pnp/ and installed ltsp with vagrant on `buster`.
Able to boot from ltsp client too. But, I am unable to login. It says permission denied public key.
I have made a small video of the problem - https://youtu.b

[2018-06-07 00:13] dashohoxha commented on #34
@d78ui98 your video only proves that you have a problem.
If @akash0x53 wants to help you on this, he should be able to reproduce your problem. He cannot do this unless you share your code, and you cannot share your code without making first a pull request.

[2018-06-07 05:25] d78ui98 commented on #34
Okay, I will create a pull request.

[2018-06-07 09:56] d78ui98 commented on #34
one good news. I created an issue https://github.com/fujimakishouten/vagrant-boxes/issues/1 mentioning about problems with `buster` box and later provided the solution too. They were able to reproduce the issue and accepted my solution and wrote a wiki page about it

[2018-06-07 13:16] dashohoxha commented on #34
Congratulations.

If login works on `bionic` but does not work on `buster`, then you should try to find out what is different between these two. If you followed the same installation instructions (http://dashohoxha.fs.al/ltsp-pnp/) and installed the same packages (`ltsp-server` or `ltsp-server-standalone`), then what is different between these two packages? Are they the same version, or do they ha

[2018-06-07 14:31] dashohoxha commented on #34
Make sure that you have a display manager other than **mdm**: http://dashohoxha.fs.al/ltsp-pnp/#sec-6

[2018-06-07 15:58] d78ui98 commented on #34
Thank you :)

display manager used in `buster` is **lxde**. I think this is not a problem of ltsp packages. If that was the case than we wont be able to boot from the client. This is a problem with either vagrant box or the ssh config file. I closely looking at differences in both these boxes. Will find this issue soon. Just need some time.

[2018-06-07 16:16] dashohoxha commented on #34
I wish that you solve it soon.
When you cannot login, it is usually a display manager problem.
From the video also it looks like that.
So, try to replace lxde with LightDM or something that is known to work.

[2018-06-08 19:18] d78ui98 commented on #25
@rr83019 If you wish you can work on this fixing this issue now.

[2018-06-08 19:52] d78ui98 commented on #36
@dashohoxha We have documented modes of operation so should we close this issue?

[2018-06-08 21:38] #36 closed, assigned to d78ui98

[2018-06-09 08:02] akash0x53 commented on #34
To solve ssh problem install private key provided by vagrant into client. You can find these keys [here](https://github.com/hashicorp/vagrant/tree/master/keys).

[2018-06-09 09:00] d78ui98 commented on #34
Niceee... This has solved the issue :+1:

[2018-06-09 18:09] d78ui98 commented on #34
This solves the problem. But it is not a good solution from a security point of view. I figured out the mistake and fixed it.

[2018-06-12 06:08] #34 closed, assigned to nobody

[2018-06-12 06:31] d78ui98 opened #44 "Create a virtual network for communication of all LTSP client, server and dhcp server"
When you test with a virtual client and a virtual DHCP server (and virtual LTSP server of course), and all three of them are on the same computer/laptop, I think that you may need to create a virtual network as well, and connect all three of them to this virtual network, so that they can communicate with each-other.

If you bridge all three of them to an ethernet (cable) network interface, this ca

[2018-06-12 11:19] d78ui98 commented on #37
Akash and I want to make sure if we get this correctly.
So the goal of this task is to reconfigure server to provide dhcp services in the network in which the ltsp server belongs. For non-standalone mode.

[2018-06-12 11:29] dashohoxha commented on #37
That's right. In this case `dnsmasq` will not offer IP (via DHCP), however it will be **proxy** dhcp server, which means that will offer tftp service and booting from network.

[2018-06-13 19:08] d78ui98 commented on #7
Here are some very good resources that I found -
- https://wiki.debian.org/Packaging
- https://www.debian.org/doc/manuals/packaging-tutorial/packaging-tutorial.en.pdf
- https://wiki.debian.org/SimpleBackportCreation
- https://www.debian.org/doc/manuals/maint-guide/upload.en.html
- https://wiki.debian.org/HowToPackageForDebian

Here is the list of relevent and active mailing lists -
- https://lists

[2018-06-13 19:13] d78ui98 commented on #44
So in this task, we need to create a virtual network. So that all 3 can communicate.
@akash0x53 suggested a very good solution. He suggested on using a host-only adapter. This ensures that a virtual network adapter is created when vagrant boxes are created.
I have implemented it. Here is a video of it - https://www.youtube.com/watch?v=Da7mjzigwPM&t=65s
also implemented automatic configuration of d

[2018-06-13 21:22] dashohoxha commented on #7
Focus on closing the pending tasks first.

[2018-06-13 21:27] dashohoxha commented on #44
Whatever solution that works is Ok.
Of course some solutions are better or more elegant than the others.

[2018-06-14 04:30] #25 closed, assigned to rr83019

[2018-06-14 09:18] #37 closed, assigned to nobody

[2018-06-15 08:22] dashohoxha commented on #44
Maybe you can also create and use a virtual interface: https://unix.stackexchange.com/questions/152331/how-can-i-create-a-virtual-ethernet-interface-on-a-machine-without-a-physical-ad

[2018-06-15 08:28] dashohoxha commented on #4
To test this you will need an ARM test client (since RaspberryPi has an ARM processor).
However VirtualBox only supports Intel processors (i386/amd64). So, maybe you should use QEMU, which can emulate ARM processors.
https://azeria-labs.com/emulate-raspberry-pi-with-qemu/

[2018-06-15 08:31] dashohoxha opened #49 "Create a wiki page about how to debug LTSP from a client"
https://github.com/docker-scripts/dev--LTSP/wiki

[2018-06-15 09:03] dashohoxha commented on #19
I have updated the wiki page: https://github.com/docker-scripts/dev--LTSP/wiki/LTSP-Modes-of-Operation
You can review it and make further corrections/improvements.

[2018-06-15 17:52] d78ui98 commented on #44
I have created `test.sh` that creates virtual interface and modifies `settings.sh`. Also when I do `test.sh stop` it destroys the virtual interface and removes line added in `settings.sh`.

When I tried to do a `vagrant up`. The virtual interface is not working [image](https://image.ibb.co/c5QcUd/virtual_interface_not_working.png).
I did google about it a little and found out dummy interface canno

[2018-06-15 21:31] dashohoxha commented on #44
I made a little test by creating a virtual interface like this: `ip link add eth-test type dummy`. Then the  command `ip addr` shows this:
[code]
Notice the words `state DOWN` which means that it is disabled.
If you try `ip link set eth-test up`, then `ip addr` will show something like this:
[code]

Then I created a virtual box (with GUI) which uses `eth-test` in bridged mode. When it is down it d

[2018-06-16 12:55] d78ui98 commented on #44
Yes, this solution works. Will close the last PR and create another for this.

[2018-06-16 16:13] dashohoxha opened #51 "What are the differences between the packages ltsp-server and ltsp-server-standalone"
How can we find the differences between two similar Ubuntu packages, or between a Debian package and an Ubuntu package that are similar?

[2018-06-16 18:00] #44 closed, assigned to nobody

[2018-06-20 21:59] d78ui98 commented on #49
Should I mention all the steps suggested on irc?(please note that those steps were good but not the solution to our problem)

one solution was provided by @akash0x53  and another one I figured out by looking at logs.

[2018-06-20 22:01] d78ui98 commented on #49
Should I mention all the steps suggested on irc?(please note that those steps were good but not the solution to our problem)

one solution was provided by @akash0x53 and another one I figured out by looking at logs.

[2018-06-20 22:33] dashohoxha commented on #49
What you think is reasonable and could be useful for other people, or on other similar situations.

[2018-06-21 10:52] d78ui98 commented on #3
I have created these packages for debian. Now looking into how can I upload them to debian.
Maybe I have to use [mentors.debian.net](mentors.debian.net).

[2018-06-21 14:46] dashohoxha commented on #3
Add the code of these packages on the directory `deb/`, on the `buster` branch, so that they can be installed (inside the virtual machine) even without being uploaded to debian repositories.

[2018-06-21 14:49] dashohoxha commented on #3
There must be a project called `debian-edu` or something like this (check these packages: `apt list debian-edu-*`).
Maybe you can propose these packages for being included on this project.

[2018-06-21 15:15] d78ui98 commented on #49
I wrote the wiki page - [https://github.com/docker-scripts/dev--LTSP/wiki/Troubleshooting](https://github.com/docker-scripts/dev--LTSP/wiki/Troubleshooting)
Also the blog post - [https://medium.com/@gajbhiyedeepanshu/solving-ltsp-client-not-able-to-login](https://medium.com/@gajbhiyedeepanshu/solving-ltsp-client-not-able-to-login-issue-50384c98efbc)

will be updating the trouble shoot page if I fi

[2018-06-21 15:43] dashohoxha commented on #49
You should also update the Testing page. Maybe it is better to split it into 2 pages, one for manual testing (which describes all the cases that needs to be tested), and one for automated testing.

[2018-06-22 16:40] d78ui98 commented on #3
should we package binary or package source and then compile on host machine?

[2018-06-22 17:45] d78ui98 commented on #51
LTSP-server - It package just provides the basic  minimal features necessary to build an ltsp environment.
depends - `debconf, debootstrap, openssh-client`
recommends - `nbd-server, dnsmasq, openssh-server, squashfs-tools`

LTSP-server-standalone - It is complete ltsp server that includes ltspfs, ltsp-server package, dnsmasq.
depends - `dnsmasq, ldm-server, ltsp-server, ltspfs, nbd-server, openssh

[2018-06-22 21:52] dashohoxha commented on #3
I am not sure. But as far as I understand, you cannot make a binary package without making a source package first.

You should know it better than me, since you have already created these packages. Just upload to the project the packages that you have created.

[2018-06-22 22:07] dashohoxha commented on #51
Try to use `diff -u` on the source code of these packages. Neither the gist, nor the screenshot do not seem very useful to me.

Then, what are the differences between these packages? Should we use one of them or the other?
Have you tried to use each of them? How are they different from each-other?
The best way to find out is by testing them, but you can also ask on the mailing list, in case somebo

[2018-06-23 16:46] akash0x53 commented on #3
As far as i understand:

We need to port mentioned packages available only for Ubuntu to Debian. Each package is bundle of few utilities. For example, `ubuntu-edu-preschool`, this package recommends list of packages mentioned here https://packages.ubuntu.com/trusty/misc/ubuntu-edu-preschool

So if we look into the control file of any of this packages you find `Recommends:` where all recommended pa

[2018-06-23 17:23] dashohoxha commented on #3
@akash0x53 your understanding is right. Thanks for the clarification because I am not so familiar with deb packages and I don't know how to explain it properly to @d78ui98

Only that the packages should be renamed to `debian-edu-preschool` etc.
If all of the recommended packages are available in Debian repositories (and I believe they are), that's great. Otherwise the list of recommended packages

[2018-06-23 19:24] d78ui98 commented on #3
okay, So I will do this -
-  create source such that all recommended utilities(available) are installed.
-  change the `Maintainer`
-  Rename them packages
-  Build packages from control files, inside the ltsp-server.
-  Lastly install them
-  will also propose these packages in debian-edu project

Please correct me if I am missing something.

[2018-06-23 21:21] dashohoxha commented on #3
Maybe you should start by studying and learning how to create debian packages. Otherwise you will be doing trial and error (or hit and miss), and the resulting packages may not be optimal.

I suggest that you place the code related to these packages on a separate script, for example called `edu.sh`, and include it (`source` it) from the main installation script.

[2018-06-24 03:28] dashohoxha opened #58 "Enable debugging on all bash scripts"
See: http://tldp.org/LDP/Bash-Beginners-Guide/html/sect_02_03.html

[2018-06-24 03:31] dashohoxha opened #59 "Improve settings.sh"
- [x] Add comments on `settings.sh` that explain what each variable is used for and what values it can take.
- [x] Remove variable NETWORK because this can be derived from LAN_IP.
- [x] Make the default value of LAN_IP `="192.168.111.16"` in order to avoid that tests work accidentally (by mistake).
- [x] Rename the variable INTERFACE to LAN_IF.
- [x] Add a variable PACKAGES which has a list of ext

[2018-06-24 03:43] dashohoxha opened #60 "LTSP server needs to have a GUI"
LTSP server is used by the teacher, so it needs to have a GUI window. For example the teacher can use `epoptes` to check what the students are doing, or to show a demonstration to them.

[2018-06-24 03:46] dashohoxha opened #61 "Make the VagrantBox of the ltsp-server secure"
Currently the ssh service on the ltsp-server can be accessed with a key that is public. Make it secure by generating and using a new key.

[2018-06-24 03:49] dashohoxha opened #62 "Make 'test.sh' functional"
The function of `test.sh` is not just to create and destroy a virtual interface. It should also start and stop the **ltsp-server**, the **dhcp-server** and the **ltsp-client**.

[2018-06-24 04:02] dashohoxha opened #63 "Test extensively"
Test extensively all the possible use cases and scenarios to make sure that everything works as expected and there are no problems or bugs. Report (create issues) and fix any problems/bugs.

Create a testing document that describes all the possible cases and scenarios that need to be tested, what values of `settings.sh` should be used, what scripts or commands to run, etc.

This is important becau

[2018-06-24 04:05] dashohoxha opened #64 "Improve the docs"
Improve the usage docs to show how to create a ltsp-server, how to start and stop it, how to destroy and recreate it, what to do when some settings are changed in order to make sure that these changes are reflected to the server, etc.

Right now the docs mention only `vagrant up`, which is quite insufficient for a beginner.

See also: https://github.com/docker-scripts/dev--LTSP/issues/19

[2018-06-24 20:32] vagrantc commented on #2
There is already a package in Debian experimental: https://tracker.debian.org/pkg/ltsp-manager

[2018-06-24 21:58] dashohoxha commented on #2
@vagrantc thanks for your comment.
Actually @d78ui98 has noticed that there is already such a package for Debian, and we have agreed that this is Ok (no need to build a new package).

About improving ltsp-manager, I am thinking about automating some tasks that usually need some manual changes to configuration files. For example enabling guest login on ltsp clients, enabling auto-login on ltsp clie

[2018-06-26 02:26] dashohoxha commented on #7
I find this tutorial very nice and interesting and describing what we need to do for this project: building deb packages for internal use, without submitting them to Debian repositories:
http://tldp.org/HOWTO/html_single/Debian-Binary-Package-Building-HOWTO/

[2018-06-26 07:33] dashohoxha commented on #7
I also find these tutorial interesting (although they are a bit old, and I am not sure if they are still relevant):
- http://terokarvinen.com/2011/create-deb-metapackage-in-5-minutes
- https://debian-handbook.info/browse/stable/sect.building-first-package.html
- https://eric.lubow.org/2010/creating-dummy-packages-on-debian/

[2018-06-27 07:34] d78ui98 commented on #63
I wrote a testing plan for ubuntu bionic - https://github.com/docker-scripts/dev--LTSP/wiki/TESTING-PLAN

[2018-06-27 07:56] d78ui98 commented on #63
`test.sh` script can be improved on `bionic` branch. Some improvements were made in `buster` branch some can be done on bionic

[2018-06-27 09:20] dashohoxha commented on #63
Deepanshu, you have missed things that are necessary for testing, and you have included a lot of things that are not needed for testing. Usually in a testing plan there should not be any instructions about troubleshooting and fixing things. This is not the purpose of testing.

The testing plan should be as described following (explanations in brackets maybe should not be included, they are to expl

[2018-06-27 09:27] dashohoxha commented on #63
I have created this wiki page as well: https://github.com/docker-scripts/dev--LTSP/wiki/Testing-Plan

[2018-06-27 09:56] d78ui98 commented on #63
okay, this is impressive. I will perform the tests accordingly.
And make necessary changes in `settings.sh`, `test.sh` and other files

[2018-06-27 10:09] dashohoxha commented on #63
First make the required changes, then do the testing.
There are changes that you already know you have to make, without having to test it first.

[2018-06-27 10:42] d78ui98 commented on #59
Based on above comment I am planning to create `settings.sh` file something like this

[code]
this has been tested internally. also replaced `INTERFACE` with `LAN_IF` in both the `Vagrantfiles` and `test.sh` script.

[2018-06-27 10:44] d78ui98 commented on #60
For this I am planning to change 2 files. `install.sh` and `Vagrantfile`
Going to add this in `Vagrantfile`
[code]
and in `install.sh`
`apt --yes install ubuntu-desktop` on `bionic` branch
I am testing it right now.

[2018-06-27 10:51] dashohoxha commented on #59
The line of NETWORK may not work on Ruby.
Add at least 2 extra packages for proper testing.
Look at the other tasks/issues in case there is anything else that needs to be added on settings.sh

[2018-06-27 10:55] dashohoxha commented on #60
Install xfce desktop instead, because with 1Gb RAM you may have performance problems with the ubuntu desktop.

[2018-06-27 11:01] d78ui98 commented on #60
yes. ubuntu-desktop does not work well at all.

[2018-06-27 11:04] d78ui98 commented on #59
I just tested NETWORK line does work well. (as stuff inside it is in double quotes)

[2018-06-27 13:43] d78ui98 commented on #60
`xfce` work - https://ibb.co/bQ66Uo
there were few errors - https://ibb.co/fOkN28
I googled about and fixed by it by  `apt --yes install gtk2-engines-pixbuf`

[2018-06-27 15:06] d78ui98 commented on #59
just have to enable debugging. Something I plan on doing later when solve #58

[2018-06-27 15:12] d78ui98 commented on #60
I am able to use `epoptes` and `ltsp-manager` from it. Creating a PR

[2018-06-27 15:52] dashohoxha commented on #59
You mean that Ruby does $ shell expansion?

Do this before testing.

[2018-06-27 16:59] d78ui98 commented on #59
no. `NETWORK` is not used by `Vagrantfile`. Putting it inside double quotes make it a normal ruby variable.

If I write `puts NETWORK` in vagrantfile it would print out `(echo $LAN_IP | cut -d'.' -f1-3)`. while in bash script it will do shell expansion and get network address.

[2018-06-27 17:58] dashohoxha commented on #59
You are right. But nonetheless it defeats the purpose of a configuration file. You can do that calculation on the bash script instead.

[2018-06-27 18:38] d78ui98 commented on #59
Sure. I can do that.

[2018-06-27 19:55] d78ui98 commented on #51
I used `diff -u`. Got lots of output that concludes there are lots of bash scripts inside ltsp-server source. We can take a look at them if we wanter deeper understanding of ltsp.

well `ltsp-server` is the main packages. Most stuff like man pages, ltps-build-client files for different distributions, all important scripts, etc are defined in it.

The ltsp-server-standalone package does not have a

[2018-06-27 20:36] dashohoxha commented on #51
Ok. I thought that maybe we were missing something by not using `ltsp-server-standalone`. I thought that maybe it could be useful for our standalone case. But it seems that it is not necessary.
We can close this issue.

[2018-06-27 20:36] #51 closed, assigned to d78ui98

[2018-06-27 20:44] d78ui98 commented on #51
Nice :)

[2018-06-28 08:09] #60 closed, assigned to d78ui98

[2018-06-28 09:58] d78ui98 commented on #62
based on above comment and [testing plan](https://github.com/docker-scripts/dev--LTSP/wiki/Testing-Plan)
These are the changes that I plan on making in `test.sh`

first I set `DEVICE=ltsp-test-if`

then this these changes
[code]

`vagrant destroy -f` -f flag is used so that it does not prompt yes or no
`(cd dhcp/ && vagrant destroy -f)` brackets are used so that the directory is not changed

[2018-06-28 10:14] dashohoxha commented on #62
You can also keep `DEVICE=ltsptest01`.

You can set the option `-x` on `#/bin/bash -x` and then eliminate all those `echo` lines.

[2018-06-28 10:16] dashohoxha commented on #62
You can also do:
[code]

[2018-06-28 10:19] #59 closed, assigned to d78ui98

[2018-06-28 10:34] d78ui98 commented on #62
sure we can do that. I thought of using `(cd dhcp/ && vagrant destroy -f)` because it is a one liner

    vagrant destroy -f
    cd -

we can do this as well. It looks cleaner.
will push the changes after one final test.

[2018-06-28 11:54] d78ui98 commented on #62
Testing suggests we should remove this root check block
[code]
Since root is not a regular user in ubuntu. Meaning I can not log in from root. So it does not make sense to create vagrant boxes with root user. If we do it with root user they will then we wont be able to control them with normal user. this video showes the problem - https://youtu.be/GSpfOm4OfRo     [2:06](https://youtu.be/GSpfOm4OfR

[2018-06-28 12:11] akash0x53 commented on #62
This happened because you're running `vagrant up` with root hence the permission issues. You can run vagrant command with non-root user, with `su <non-root user> -c command`

[2018-06-28 12:16] akash0x53 commented on #62
You can also check `linked-clones` option to speed up vagrant testing.

https://www.vagrantup.com/docs/virtualbox/configuration.html#linked-clones

[2018-06-28 13:48] d78ui98 commented on #62
If we do this way then we would have to add  `su <non-root user> -c command` to 14 lines. Also extra line to get `non-root user` from machine.
However if we do it with `sudo` we will have to add `sudo` to just 7 lines. Using `sudo` is less number of characters. Making code more efficient. It is also familiar which increases readability of our code.

So it makes sense to use `sudo` :)

[2018-06-29 08:57] #62 closed, assigned to d78ui98

[2018-06-29 08:59] d78ui98 commented on #49
Now that we can do automated testing in one command with `./tesh.sh start` I don't think we need a new wiki page for that.

[2018-06-29 10:26] dashohoxha commented on #49
I think that Testing Plan does a part of the job. Troubleshooting pages, which have more detailed instructions do the rest.

Maybe some wiki pages need to be refreshed and updated a bit to reflect the latest developments.

However this task can be closed since you have written a blog post for it.

[2018-06-29 10:26] #49 closed, assigned to nobody

[2018-06-29 10:36] d78ui98 commented on #49
Exactly. will be doing that along with https://github.com/docker-scripts/dev--LTSP/issues/64

[2018-06-30 09:00] dashohoxha opened #68 "Custom vagrant box"
- [x] Build a custom vagrant box based on LinuxMint 19 Xfce. This will speed up testing and usage (when users build a new ltsp server).
   - https://www.linuxmint.com/download.php
   - https://www.vagrantup.com/docs/virtualbox/boxes.html
   - https://www.engineyard.com/blog/building-a-vagrant-box
   - https://www.skoblenick.com/vagrant/creating-a-custom-box-from-scratch/
   - http://blog.ruilopes.

[2018-06-30 09:08] dashohoxha opened #69 "Vagrant caching"
As suggested by Akash, explore and try to use caching for vagrant, in order to speed up testing:
- http://fabiorehm.com/blog/2013/05/24/stop-wasting-bandwidth-with-vagrant-cachier/
- https://coderwall.com/p/xa2djw/vagrant-cachier-is-boss
- http://gree2.github.io/auto/2015/08/10/install-vagrant-cachier

[2018-06-30 12:07] d78ui98 commented on #61
I was looking into this and wondering about it. Vagrant boxes are not secure as they use a key that is public. But when we do a `vagrant up` This is the output
[code]
I also found out the PR that added this functionality - https://github.com/hashicorp/vagrant/pull/4707
It randomly generates a keypair for better security. Does that mean our vagrant box is secure without generating a new key pair?
N

[2018-06-30 13:58] dashohoxha commented on #61
You are right.

[2018-06-30 13:58] #61 closed, assigned to d78ui98

[2018-06-30 14:16] #58 closed, assigned to d78ui98

[2018-06-30 14:19] #3 closed

[2018-06-30 14:20] #7 closed

[2018-07-02 09:09] d78ui98 opened #72 "Client restarts when logged in"
This is a known issue. It is caused because of race condition in this code -
[code]
reference - https://github.com/NetworkBlockDevice/nbd/issues/59
Since ltsp now uses nbd sometimes it affects the ltsp setup. There is no error message to tell what is happening so I did `tail -f /var/log/syslog` on the server. And this was the output when I boot from the client
[code]
The client after login just re

[2018-07-02 12:12] #64 closed, assigned to d78ui98

[2018-07-02 12:51] dashohoxha commented on #64
You should update the wiki pages as well, if needed.

[2018-07-02 13:30] d78ui98 commented on #64
Yes I have updated it. Removed lines that involved setting up `NETWORK` variable.

[2018-07-03 08:59] d78ui98 commented on #69
I have implemented caching with `vagrant cachier` plugin. Now studying about how to create custom vagrant box from the links you provided.

[2018-07-03 09:48] #72 closed, assigned to d78ui98

[2018-07-03 10:39] dashohoxha commented on #69
Is it worth to make a PR about this, or is it only for personal use?

[2018-07-03 12:45] d78ui98 commented on #69
It is for someone who provision their vagrant boxes are lot (like me). Akash and I were discussing about this. The users of Virtual LTSP will create their LTSP server for only once. So it does not make sense to add it here.
If users want to change their IP address then they can do it without provisioning. As every time we do `vagrant up` and `vagrant halt` new virtual network devices are created.

[2018-07-03 14:52] dashohoxha commented on #69
Ok, you can share it for the likes of you, who may be testers and/or developers of this project. This includes Akash and me. You have to make it easy for other developers as well, who may want to contribute to the project.

Why don't you add a variable called DEV on `settings.sh`. If this is "true", then you activate the caching, otherwise you don't activate it.

[2018-07-04 08:13] d78ui98 commented on #69
okay. Here is a sample vagrant file that I am using.
[code]
Notice how it says if vagrant has_plugin then perform these steps. This is done so that Vagrantfile does not break if shared with people that don't have the plugin installed.
Source - https://github.com/fgrehm/vagrant-cachier/blob/master/docs/usage.md#being-nice-to-others

So we the devlopers working on the project will just need to insta

[2018-07-04 08:45] dashohoxha commented on #69
This is better.
Maybe you can add a section on README about how to install this plugin (for developers and testers).
This is also about being nice to the others.

[2018-07-04 09:12] d78ui98 commented on #69
Sure. I am writing the blog post on creating vagrant box. Will push these changes after that.

[2018-07-04 12:09] d78ui98 commented on #68
I have created a linux mint vagrant box.
Wrote a blog post as well -https://medium.com/@gajbhiyedeepanshu/building-custom-vagrant-box-e6a846b6baca
Just need to confirm what needs to be done for the last task. So I need to create a configuration variable `box` in `settings.sh`. Where user can mention the box name. This value will be assigned to `config.vm.box` in `Vagrantfile`?
Needed to confirm th

[2018-07-04 13:07] dashohoxha commented on #68
Needed to confirm this before pushing changes.

This is correct. You can call the variable `VM_BOX` or something like this. While you are at it, you can allow the user to set the size of the memory as well. For example you can add a variable like this: `VM_RAM="1024"`.

[2018-07-04 13:29] dashohoxha commented on #68
Wrote a blog post as well -https://medium.com/@gajbhiyedeepanshu/building-custom-vagrant-box-e6a846b6baca

Nice job. I have a few suggestions.
 - [x] First of all, check it again for any typing mistakes or any formatting errors.
 - [x] Have you tried to install Vagrant and VirtualBox from the terminal? I see some packages related to them (for example if you try: `apt list vagrant*` and `apt list v

[2018-07-05 06:06] akash0x53 commented on #68
My suggestions,

1. Remove `apt` or `yum` cache or remove anything that is temporary to reduce box size. Refer [this](https://github.com/chef/bento/blob/82752ec/packer/scripts/ubuntu/cleanup.sh) script to know more what items you purge.
2. You can upload your box here https://app.vagrantup.com/boxes/search

[2018-07-05 06:47] d78ui98 commented on #68
Nice this is good.

[2018-07-05 09:02] #69 closed, assigned to d78ui98

[2018-07-05 11:40] d78ui98 commented on #68
We can use [packer](https://www.packer.io/)

By taking that script as reference I created my own script. Ran that on virtual machine and reduced its size and creation time. I can upload it on vagrant cloud.
After upload name to put in Vagrantfile will be `d78ui98/linuxmint19-xfce-32bit`
Should I shorten name to `mintxfce32`?
As on the website they said
[code]

[2018-07-05 12:11] dashohoxha commented on #68
This looks good. Maybe it can do what we want: https://www.packer.io/docs/builders/virtualbox-iso.html
Please figure out how to do it.

Should I shorten name to `mintxfce32`?

Actually I think that it should be `linuxmint-19-xfce-32bit` in order to be as clear as possible (this is the same as the name of the `.iso` file).

However `d78ui98/` may seem a bit strange to people. Can you create an acco

[2018-07-05 13:21] d78ui98 commented on #68
Sure we can do this. However, it will take time even with script I have to download the remaining 5 iso(1.9gb each). Create box for each. Upload all 6 on cloud(2.6gb each).
I will start by getting permission from linux mint community. Then work on the script.

[2018-07-05 13:50] d78ui98 commented on #63
I tested Virtual LTSP server on a real lan. Client was running on a different machine. The interface were real and connected to the internet. One of the things to make sure is to check whether the ltsp-server is in the Network. We can do it by a simple ping. Also gateway is `192.168.1.1` So ltsp server was also on same network. Rest of the process of booting goes fine.
Will be testing all other ca

[2018-07-05 13:57] dashohoxha commented on #68
Maybe you should contact directly `root@linuxmint.com` to explain what you want to do and to ask for permission (https://linuxmint.com/contactus.php). You can put me and Akash on the Cc if you wish.

Then you can upload first `linuxmint/tara32-xfce` which is directly needed for testing.

Later you can continue working with automating scripts.

And finally (lowest priority) build and upload the oth

[2018-07-05 14:10] dashohoxha commented on #63
Booting is only the minimum of testing. There are other things to be tested as well, like user login, internet connection both from the clients and from the server, maybe performance of some heavy applications (like LibreOffice etc.).

Most of the tests can be done more efficiently with internal testing. Once everything works well with internal testing, most probably it should work well on the rea

[2018-07-05 16:58] dashohoxha commented on #68
@d78ui98 You can upload on your account the image that you have already built. Name it `linuxmint-19-xfce-32bit` (no problem that it is a bit log, it is only for testing and only temporary, until the official images are built and uploaded).

Then continue with the automating scripts, and as soon as they are ready we are going to suggest them to the LinuxMint community.

[2018-07-06 08:38] d78ui98 commented on #68
I have uploaded to box to my account - https://app.vagrantup.com/d78ui98/boxes/linuxmint-19-xfce-32bit
I also released a second version in which I reduced the size of the box significantly.

[2018-07-06 08:46] dashohoxha commented on #68
Great!
Change also the default value on `settings.sh` to this one, and remove the line that installs the xfce desktop from `install.sh`.
Then complete all the steps of internal testing and identify any things that need to be fixed or improved. Only after that continue with automating scripts etc.

[2018-07-06 10:58] d78ui98 commented on #68
Sure.
There are other changes to make as well.
- `apt` not working with options provided like `--yes --install-recommends `. Have to replace with  `apt-get` - https://forums.linuxmint.com/viewtopic.php?f=47&p=1487558
- Fix dnsmasq package not working problem
- trying to find other problems

Please note it is not a problem with vagrant box that we created. But with the linux mint 19 itself.

[2018-07-06 12:52] dashohoxha commented on #68
There is no problem with `apt` or with LinuxMint.

Make the changes one by one, and create a task for each of them.

[2018-07-06 14:30] d78ui98 commented on #68
You are right. Neither is the problem with vagrant box. Just had to change the position of the command.
But `dnsmasq` is conflicting with `systemd-resolve`. working on that

[2018-07-06 17:17] d78ui98 commented on #68
`dnsmasq` issue is fixed. I am able to boot from client.
But I am not able see any gui on client. I followed the debugging methods on ltsp.org. But none of the mentioned solutions worked.

[2018-07-06 17:25] dashohoxha commented on #68
You can start a PR and make commits and comments on that.
Because I don't understand your comments, I don't know what you are doing and what is going on, and I am not able to help you. So, unless you can show your code, you can keep your progress comments for yourself.

[2018-07-07 00:11] d78ui98 commented on #68
I have fixed all the issues.
Also wrote wiki page about building vagrant box
https://github.com/docker-scripts/dev--LTSP/wiki/Building-Custom-Vagrant-box

[2018-07-07 00:23] d78ui98 opened #77 "Create scripts to automatically build vagrant boxes"
Make use of packer builds vagrant box automatically, without having to go through the manual GUI process
https://www.packer.io/docs/builders/virtualbox-iso.html

[2018-07-07 06:54] dashohoxha commented on #68
This is great.
Now you can close this issue and continue with internal testing. Identify things that do not work and create issues for them.

[2018-07-07 07:12] #68 closed, assigned to d78ui98

[2018-07-07 08:02] dashohoxha commented on #2
The code of ltsp-manager: https://git.launchpad.net/ltsp-manager/tree/share/ltsp-manager

@d78ui98 I think that you don't have much experience with Python programming (and neither do I), so it can be difficult for you to change and improve ltsp-manager in the remaining time of the project (about one month). So, maybe we should leave out this task, and it can possibly be a topic for another GSoC pr

[2018-07-07 08:07] dashohoxha commented on #4
Some other related resources:
 - https://www.raspberrypi.org/documentation/hardware/raspberrypi/bootmodes/net_tutorial.md
 - https://www.raspberrypi.org/blog/teaching-pinet/
 - http://pinet.org.uk/articles/guides.html
 - https://github.com/PiNet/PiNet/blob/jessie-stable/pinet

This PiNet is an amazing project, and it is developed by a student.

[2018-07-07 08:20] dashohoxha opened #78 "Add support for guest accounts and automatic login"
On `settings.sh` add also these options:
[code]

When `GUEST_ACCOUNT` is "yes", the LTSP server should support guest account logins from the clients (see this blog which explains what this means and why it can be useful: http://dashohoxha.fs.al/linux-guest-account/)

When `AUTOMATIC_LOGIN` is "yes", then the client should login automatically to the guest account as soon as it boots up.

I think th

[2018-07-07 08:27] dashohoxha opened #79 "Add support for managing bulk user accounts"
Create a script called `accounts.sh` which can help to manage user accounts in bulk (big quantities).
For example it can be used like this:
[code]

The file `user-accounts.txt` can be a CSV file, or something like this: https://github.com/docker-scripts/shellinabox/blob/master/accounts.txt

[2018-07-07 08:35] dashohoxha opened #80 "Add education level meta-packages on DebianEdu"
This is a pending task.

[2018-07-07 08:35] d78ui98 commented on #2
Yes, It will probably be the best.

[2018-07-09 07:58] d78ui98 commented on #63
# exhaustive testing
Testing for all possible cominations. Created 2 videos of the testing.
Each part has sub case shows mistake because of which the virtual ltsp does not work.

#### 1. Standalone="yes" , LAN_IP="192.168.111.16"  [(19:47)](https://youtu.be/p9eNfVfXhSk?t=1187)
Works perfectly as soon as we run vagrant up and boot from client.
condition
- No other dhcp server should be present in n

[2018-07-09 08:46] dashohoxha commented on #63
On the source code there is this setting: `VB_IMAGE="d78ui98/linuxmint-19-xfce-32bit"`
How come that in your testing it is `mintxfce`? Even if they are identical, still this is not correct testing.

I am repeating myself over and over, but you still close the client as soon as it boots up, or as soon as you login. Let me repeat it once more:

## 0 Things to be checked on each test case

In all the

[2018-07-09 13:20] d78ui98 commented on #63
changed that to `d78ui98/linuxmint-19-xfce-32bit`

test user created and added to epoptes group

This part is creating an issue. If I tried login from the terminal of client with `ssh test@server` It works. But does not work from gui. After login it says -
[code]
Googling about it suggests its a permission issue. But even if I run xfconfd manually with `/usr/lib/i386-linux-gnu/xfce4/xfconf/xfconfd

[2018-07-09 14:33] dashohoxha commented on #63
Please create a separate issue for each problem that you encounter. This issue is already overloaded.

[2018-07-09 18:29] d78ui98 commented on #63
This issue occured due to mistake on my end. As I am very new to `linux mint`. I am now able log in from test user. Internet works. Able to open `epoptes` and control the client.

Also tested with defining packages variable defined in `setting.sh`.
Now creating a video to show to you and akash.

[2018-07-09 18:41] dashohoxha commented on #63
Please don't create a video. A video does not prove anything.
I get these messages:
[code]
and later:
[code]

[2018-07-09 19:06] d78ui98 commented on #63
Okay. That issue occurs due to difference occurs due to difference in  `vboxguest` version of your virtualbox and vagrant box.
Can you please run a `modinfo vboxguest` to let me know which version is your virtualbox using?
mine is
[code]
Same is on the vagrant box. As I result I am able to reproduce this issue.

[2018-07-10 11:32] dashohoxha opened #82 "Machine is not ready for guest communication"
I get these messages:
[code]
and later:
[code]

Related to: #63

[2018-07-10 11:38] dashohoxha commented on #82
I am testing it on Debian 9, and I have installed `vagrant` and `virtualbox` with:
[code]

[2018-07-10 12:03] akash0x53 commented on #82
I've faced these issues before. Possible solutions
1. Update `virtualbox` and `vagrant`
2. Check whether Vagrant supports installed VirtualBox or not
3. Enable GUI and check whether OS is in hanged state or not.
4. Increase `config.vm.boot_timeout` (default is 300 seconds)
5. Disable plugins and try

I've also started downloading the box. I'll post my finding soon

[2018-07-10 12:05] dashohoxha commented on #82
After installing all virtualbox related packages (I don't know which of them might be relevant), I get this output for `modinfo vboxguest`:
[code]

[2018-07-10 12:09] dashohoxha commented on #82
I have these packages installed:
[code]
For vagrant:
[code]

[2018-07-11 14:57] d78ui98 commented on #82
I made a fresh install of `Debian 9`. I am not able to reproduce the error.

packages installed
for virtualbox
[code]
for vagrant
[code]
I tried with vagrant `2.0.2`(The version you are using) Still I not getting the issue.

[code]

[2018-07-11 17:07] dashohoxha commented on #82
I think that @akash0x53  it trying to test it as well. If he too has does not experience the problem that I see, then there must be something wrong with my computer.
However you also mentioned that you are building a new image. If you are testing it with the new image, then this is a different thing.

Anyway, I don't have to test it, as long as you and Akash do it. I was forced into testing it (an

[2018-07-12 10:35] akash0x53 commented on #82
With my Windows host machine, it run without any problem. I'm using latest Vagrant and Virtualbox.
Few points,
1. I can't run `test.sh` on Windows machine - any plan to make scripts portable across platforms?

[2018-07-12 10:56] d78ui98 commented on #82
Thats great!

Yes it can be done. I guess problem problem will be with `VBoxManage`. We will have to use `vboxmanage.exe` for windows. Also `cygwin` can be used for running bash scripts.

[2018-07-12 10:56] dashohoxha commented on #82
Akash, it is important to make them work first, then we can consider portability as well (after the GSoC).
Anyway, you can do testing and development in Linux, so there is no need to port `test.sh` in windows.
So, please test them in Linux and help Deepanshu fix them.

[2018-07-13 15:50] d78ui98 commented on #82
The error message says

ready for guest communication. This should not happen

In all the tutorials that were mentioned in https://github.com/docker-scripts/dev--LTSP/issues/68 guest specific operation was performed. Maybe if we create vagrant box with a different method that does not involve installing guest tools, the problem will go away.
One such method is by using `packer`. I wil try it out.

[2018-07-13 16:06] d78ui98 opened #83 "Configure dns to provide internet to clients"
I did a basic internet connection test by pinging google dns server. It worked.
But unable to browse internet from client. This means it is a problem with `/etc/resolv.conf`.
But editing it directly is not recommended. So we have to delete old one and create new one dynamically.

This screenshot describes the problem -
https://preview.ibb.co/fU0Gu8/9ce797c2_6812_4767_80a0_9a8e98728381.jpg

[2018-07-13 16:08] d78ui98 commented on #83
I have commits ready for fixing this issue.
will push changes after https://github.com/docker-scripts/dev--LTSP/pull/81 gets merged.

[2018-07-13 17:51] akash0x53 commented on #83
Instead of hardcoding `netmask` and `ip` in Vagrantfile, you should try `auto_config` option in Vagrantfile. It will configure everything for you.

[2018-07-13 21:09] dashohoxha commented on #83
Akash, if you check the diagrams here:
https://github.com/docker-scripts/dev--LTSP/wiki/LTSP-Modes-of-Operation
you will notice that:
- The LTSP server in standalone mode should have only 2 network interfaces, one of them bridged.
- The LTSP server in normal mode should have only 1 network interface, bridged to the LAN, with the right IP for communicating with the other computers in the LAN.
- The

[2018-07-14 04:29] akash0x53 commented on #83
Agreed.
But in testing i found `config.vm.network "public_network", ip: LAN_IP, netmask: "255.255.255.0", bridge: LAN_IF` this will set the server ip to LAP_IP irrespective of mode of operation. In case of Normal mode, If user sets LAN_IP=192.168.1.10 and that ip already assigned to other machine then there will be problems.

So, we can use `auto_config` for `normal_mode` and set IP manually for s

[2018-07-14 07:14] dashohoxha commented on #83
This seems like a good idea.

However, if the IP of the ltsp-server appears on some configuration files (for example on `/etc/dnsmasq.d/ltsp-server-dnsmasq.conf`), we have to make sure that this configuration file is changed (and the corresponding service restarted) each time that the server is booted, since `auto_config` may change the IP of the server from time to time.
This is why I have recomm

[2018-07-14 07:18] dashohoxha commented on #63
Don't close it so quickly.

[2018-07-14 07:38] d78ui98 commented on #83
Yes this would be a problem. While using a fixed IP do not use a IP address that is already assigned. I think this part should be understood by a normal vagrant user. As they have also given it in the warning section of documentation here- https://www.vagrantup.com/docs/networking/private_network.html#static-ip

Maybe in the readme file we should mention that users should first try to ping `LAN_IP

[2018-07-14 10:11] dashohoxha commented on #83
This software is for teachers, not for vagrant users. So don't assume that they know everything (or anything) about vagrant. I am an expert (in many things but not in vagrant), I have used vagrant many times, but I have not read all the docs of vagrant and I don't know everything about vagrant.

In general, don't expect the users to know everything or to read every docs. I hate when they tell me t

[2018-07-14 13:56] d78ui98 commented on #83
Okay. Good point.

This can be simply done by using if else statement in ruby. But we need to find a way to load the IP address in `install.sh` to cofigure `/etc/dnsmasq.d/ltsp-server-dnsmasq.conf`. Then we need to make changes in `test.sh` and dhcp server to make sure everything works as expected.
working on this.

[2018-07-14 21:46] d78ui98 commented on #83
Should I push changes in https://github.com/docker-scripts/dev--LTSP/pull/84 or create another PR?

[2018-07-16 04:56] d78ui98 commented on #83
### Issues with auto_config
- We cannot mention the interface name. This would halt testing with `test.sh` by prompting for which interface to use.
- There is not flexibility to switch virtual interface
- There is also no flexiblity to switch network
- `client.sh` also fails. We have to manually add the interface connected
All this suggests `auto_config` is creating more problems then it is solvin

[2018-07-16 06:13] akash0x53 commented on #83
@d78ui98 You can specify interface to use for bridging.
` config.vm.network "public_network", auto_config: true, bridge: LAN_IF ` and set the interface in settings.sh, this works perfectly fine. Vagrant is basically used for automation purpose so they will not miss this feature :)

[2018-07-16 07:09] dashohoxha commented on #83
I think that @akash0x53 is right. I have never used this feature, but I guess that `auto_config: true` makes it ask for an IP from a DHCP server in the network. But you can still specify the interface with `bridge: LAN_IF`.

[2018-07-16 13:10] d78ui98 commented on #83
Yes he is.
But even after implementing `auto_config` correctly internet on client does not work.
As dnsmasq is not configured properly for linuxmin19

[2018-07-16 14:26] dashohoxha commented on #83
You are wrong about this.
See this comment: https://github.com/docker-scripts/dev--LTSP/pull/84#discussion_r202701750

[2018-07-17 17:47] d78ui98 opened #85 "Update virtual LTSP server project to new version of LTSP"
First tested LTSP version for `Ubuntu 18.04` is is released. Many bugs are fixed.
Update virtual ltsp server project for the same.
https://sourceforge.net/p/ltsp/mailman/message/36369066/

[2018-07-17 20:55] dashohoxha commented on #85
By the way, try to test GUESTLOGIN and AUTOLOGIN as soon as possible, so that you can ask Alkis in case that something does not work.

[2018-07-17 21:08] d78ui98 commented on #85
`AUTOLOGIN` works just tested. Now checking for `GUESTLOGIN`

[2018-07-18 03:25] d78ui98 commented on #85
`GUESTLOGIN` also works.

[2018-07-19 18:04] #85 closed, assigned to d78ui98

[2018-07-19 19:16] d78ui98 commented on #83
Internet now works on client. The issue is now fixed in the new version of LTSP.

[2018-07-21 06:55] #83 closed, assigned to nobody

[2018-07-21 17:57] #78 closed, assigned to d78ui98

[2018-07-24 00:24] d78ui98 commented on #77
how should I upload the packer template to create vagrant box?
should I create a separate branch or something else?

[2018-07-24 04:29] dashohoxha commented on #77
Create a sub-directory `packer/`, or something like this.

[2018-07-24 13:05] d78ui98 commented on #79
I have created a basic script that reads username and password from `user-accounts.txt`. And creates the users.
I can add import, export backup functionality by using `case`. However I am not sure what should happen what should happen in each case.
So can you please elaborate a little bit.

[2018-07-24 13:38] dashohoxha commented on #79
What you have done is `import`. The reverse process is `export` (from the existing user accounts you create a text file that can be imported later, or to another server).

Backup is like export, but also saves a copy of the home directory of all the users.
Restore is the reverse process (from a backup archive, recreate the user accounts and their home dirs).

The task is open. Think about it. What

[2018-07-25 20:34] d78ui98 commented on #80
On the [mailing list](https://lists.debian.org/debian-edu/2018/07/msg00002.html) mike said this -

https://signup.salsa.debian.org/

I am not sure which branch or which repo am I supposed to merge with. So I created a salsa repository with `education-preschool`, `education-primaryschool`, `education-secondaryschool`, `education-highschool` packages.
https://salsa.debian.org/d78ui98-guest/education

[2018-07-25 21:22] dashohoxha commented on #80
I think he has explained that one as well. But you can ask them again.

I don't think it works that way. Read again their messages and ask them again if needed.

[2018-07-25 21:57] d78ui98 commented on #80
Good idea.

[2018-07-25 21:58] #77 closed, assigned to d78ui98

[2018-07-27 15:34] d78ui98 commented on #79
I can get the username from `/etc/passwd`. But I am not sure how will I get the password as it is encrypted.

[2018-07-27 15:50] dashohoxha commented on #79
I am not sure either. Maybe you should keep it as encrypted.

[2018-07-27 16:20] d78ui98 commented on #79
I found a way to get passwords in plain text

[2018-07-27 17:59] d78ui98 opened #89 "release new version of linux mint vagrant box"
The vagrant box should be updated every month to ensure having the latest packages.

[2018-07-27 18:30] #89 closed, assigned to d78ui98

[2018-07-28 07:47] dashohoxha commented on #89
I don't agree. You need to generate a new box only when LinuxMint makes a new release.

[2018-07-28 09:43] d78ui98 commented on #89
Yes. But in this version I was able to do 2 tasks
- reduce size of box
- also dist-upgrade(inorder to remove Debian frontend variable from `apt upgrade`)

Thats why released a new version.
There is no definite answer about how often vagrant box should be updated. However boxes like `bionic64` are updated very often.
https://app.vagrantup.com/ubuntu/boxes/bionic64

[2018-07-29 08:57] d78ui98 opened #92 "update buster branch"
`buster`  branch is far behind `bionic` branch.

Make improvements on this branch.

[2018-07-30 18:17] d78ui98 commented on #82
I think this issue is fixed now.

[2018-07-30 18:28] dashohoxha commented on #82
How did you fix it?

[2018-07-30 18:40] d78ui98 commented on #82
Purging all the old vagrant packages, plugins.
and installing new vagrant version `2.1.2` ones from https://www.vagrantup.com/downloads.html

[2018-07-30 18:51] dashohoxha commented on #82
Can you try again with vagrant 2.0.2 Because I would prefer to install the versions that are packaged on Debian (it is simpler).

[2018-07-31 00:26] d78ui98 commented on #82
yes. made another fresh install. It worked with version `2.0.2`.
[code]

[2018-07-31 01:04] d78ui98 commented on #82
Maybe removing `.vagrant.d` directory would help.
https://github.com/openebs/openebs/issues/32#issue-210015847

[2018-07-31 01:10] #92 closed, assigned to d78ui98

[2018-07-31 01:14] d78ui98 opened #94 "update readme file on buster branch"
Readme file should be updated with the most compact and to the point instructions.

[2018-07-31 05:32] dashohoxha commented on #82
Can you test with vagrant `1.9.1` as well? If it works, there is no need to make a high requirement for the version, it can just be installed with `apt install vagrant`.

[2018-07-31 12:56] d78ui98 commented on #82
Yes. It does not works on vagrant `1.9.1`. It fails to find the provider. And gives this error even when virtualbox is installed.
[code]

Here if I try to do a vagrant up by `vagrant up --provider=VirtualBox` it still does not work.

[2018-07-31 14:46] dashohoxha commented on #82
why a particular provider isn't working by forcing usage with
`vagrant up --provider=PROVIDER`, which should give you a more specific
error message for that particular provider.

What is the more specific message in this case? Why the VirtualBox provider does not work?

[2018-07-31 16:41] d78ui98 commented on #82
specific message is also same as this.
[code]

There is one more issue with using vagrant version `1.9.1`. It only supports virtual box version `<=5.1`. Latest is version `5.2`. Here is the output
[code]

I will check the vagrant logs and try to figure out something.

Another angle that I am thinking to fix this issue is by raise the a bug for vagrant package. If they fix it we can install vagrant

[2018-07-31 17:04] akash0x53 commented on #82
Vagrant warns user not to install it through system's package manager. It appears updating Vagrant is the only solution.

https://www.vagrantup.com/intro/getting-started/install.html#caveats

[2018-07-31 17:48] dashohoxha commented on #82
For normal users, the most easy and reasonable way is to install it through systems package manager. This is the recommended way for most of the programs/tools. If this is not the case for vagrant, there must be something wrong with vagrant.

[2018-07-31 17:51] dashohoxha commented on #82
If vagrant 1.9.1 is happy with virtualbox 5.1, then why do you need to install 5.2? If everything works well with vagrant-1.9.1 and virtualbox-5.1, then we don't need the latest versions. Don't recommend a version higher than what is needed.

[2018-07-31 17:56] dashohoxha commented on #82
@d78ui98 once @akash0x53 can test and verify that it works with vagrant 2.0.2, you can close this issue. I don't have time to test it this time because I am busy with holidays. But I will test it in a couple of weeks, before the third evaluation.

[2018-08-02 09:21] #94 closed, assigned to d78ui98

[2018-08-03 05:28] #79 closed, assigned to d78ui98

[2018-08-03 06:12] #19 closed, assigned to nobody

[2018-08-04 00:59] d78ui98 opened #98 "Update dhcp to just provide dhcp services"
the dhcp server present should be a normal dhcp server. Its function should only be to provide dhcp services.
The booting information to the client with dnsmasq from ltsp server itself. So dhcp server's function should only be to provide ip address and not booting information

[2018-08-04 01:03] d78ui98 commented on #80
For some reason the maintainers are not replying. Maybe they are busy.
However, they do acknowledge added these packages is a good idea.

[2018-08-04 04:20] dashohoxha commented on #98
It should also provide DNS service and be a Gateway to the Internet (look at the diagram).

[2018-08-04 04:27] dashohoxha commented on #80
They have replied by email.
Put a link here to the commit or pull request that you have made.

[2018-08-05 04:10] d78ui98 commented on #18
## Call for testing

Hello @nehajain444  @rr83019 . Hope you all are doing well.
Now we close to the end of GSoC. I would need help in testing.
You may follow the readme file or the testing guide for this purpose.

I will be available all the time here to help you with testing. You can also share your screen(teamviewer or something) if you face any problem. I will be ready to help. Not an issue.

[2018-08-05 05:54] nehajain444 commented on #18
Hi. That's good. I will get free after college. 5-6pm.

[2018-08-05 21:13] #98 closed, assigned to nobody

[2018-08-12 12:54] d78ui98 opened #103 "add credits in readme file"
Credits is added in every a GSoC project.
In it we can clearly define that this project is a GSoC project, mention student, mentors and a final report.

[2018-08-12 12:58] #103 closed, assigned to d78ui98